<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="black">
  <h1>{{title}}</h1>
</div>
<div class="ash">
  <h2>{{name}}</h2>
  <h2>{{email}}</h2>
  <button (click)="toggleHobbies()" class = "btn">Mostrar hobbies</button>
  <div *ngIf="showHobbies" class="component2">
    <h3>hobbies : </h3>
    <ul>
      <li *ngFor="let x of hobbies ">{{ x }}</li>
    </ul>
  </div>
  <h2>{{webpage}}</h2>
</div>

